.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/wallpaper.jpg') no-repeat;
    background-size: 1200px ;
    position: relative;
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-content h2{
    font-weight: 500;
    color: whitesmoke;
    font-size: max(4.0vw, 20px);
}
.header-content button{
    border: none;
    color: gray;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 50px;
    font-size: max(1vw,13px);
}
.header-content button:hover{
    background-color: aliceblue;
}

@media (max-width: 1050px){
   .header-content{
    max-width: 45%;
   }
}
@media (max-width: 750px){
    .header-content{
     max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
 }
 